@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Upload CSV</h1>
<form enctype="multipart/form-data" method="post">
    <div class="form-group">
        <input asp-for="FormFile" type="file" class="form-control-file" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Upload" />
    </div>
</form>

@if (Model.InputRecords.Any())
{
    <h2 class="display-4">Result</h2>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Before</th>
            <th>After</th>
            <th>Overlap</th>
            <th>Outflow</th>
            <th>Inflow</th>
        </tr>
        @foreach (var record in Model.OutputRecords)
        {
            <tr>
                <td>@record.Date.ToString("yyyy-MM-dd")</td>
                <td>@record.PayeeBefore</td>
                <td>@record.PayeeAfter</td>
                <td>@record.Overlap</td>
                <td>@record.Outflow</td>
                <td>@record.Inflow</td>
            </tr>
        }
    </table>

    <h2>CSV</h2>
<textarea class="form-control" rows="10">@Model.Output</textarea>
    <button class="btn btn-primary">Download</button>

    @section scripts {
        <script>
            $("button").click(function () {
                $("<a />", {
                    download: $.now() + ".csv",
                    href: URL.createObjectURL(
                        new Blob([$("textarea").val()], {
                            type: "text/plain"
                        }))
                })
                    .appendTo("body")[0].click();
                $(window).one("focus", function () {
                    $("a").last().remove()
                })
            })
        </script>
    }
}
